<div class="container border max">

  <!-- TOOLBAR/ACTIONBAR -->
  <div class="toolbar flex max--width pa--10 border--bottom">

    <!-- AVATAR -->
    <div class="max--height inline">
      <app-avatar [avatarUrl]="currentAvatarUrl"></app-avatar>
    </div>

    <!-- OPTIONS -->
    <div class="nickname-placeholder flex max--height pl--5">
      {{nickName}}
    </div>
  </div>

  <!-- NICKNAME FORM -->
  <form class="flex pa--5" [formGroup]="nickNameForm">

    <mat-form-field class="flex--grow">
      <input formControlName="nickName" matInput placeholder="{{nickname}}">
      <mat-error>
        <strong class="nickname-error">nickname field can't be empty</strong>
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" (click)="handleSubmitForm()">Set</button>
  </form>

</div>