.container{
    border-right-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;

    .toolbar{
        height: 70px;
        .avatar{
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50px;
            height: 50px;
        }
    }
}

