@import '../styles/variables.scss';
.container{
    margin-left: 120px;
    margin-right: 120px;
    .spotim-header {
        background-color: $brand-color;
        flex-wrap: wrap;
        height: 150px;
        .spotim-title {
          font-size: 1.5em;
        }
        .logo{
            height: 80px;
            width: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../assets/spotim-logo.jpg');
        }
      }
}