@import '../styles/variables.scss';
.container{
    background-color: #dfdfdf;
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
    .spotim-header {
        background-color: $brand-color;
        flex-wrap: wrap;
        height: $header-height;
        .spotim-title {
          font-size: 1.5em;
        }
        .logo{
            height: 80px;
            width: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../assets/spotim-logo.jpg');
        }
      }
}