<div class="flex container max">

  <!-- MESSAGE LIST -->
  <div #scrollMe class="conversation max pt--20 overflow--y">

    <!-- MESSAGE ITEM <REPEAT> -->
    <div appCheckOrigin class="flex message-item" *ngFor="let message of messages" senderId="{{message._id}}">

      <div class="flex" [ngStyle]="{'align-items' : 'center', 'flex-direction' : message.isSelfMessage ? '' : 'row-reverse'}">
        <!-- USER AVATAR -->
        <app-avatar [avatarUrl]="message.avatar" [ngClass]="message.isSelfMessage ? 'ml--10' : 'mr--10'"></app-avatar>
        <div>{{message.userName}}</div>
      </div>

      <!-- USER MESSAGE CONTENT -->
      <div class="message-content" appSetStyling senderId="{{message._id}}">
        {{message.text}}
      </div>
    </div>
  </div>

  <div class="message-creation max--width">
    <input [(ngModel)]="message" type="text" />
    <button class="button" (click)="sendMessage()">Send</button>
  </div>
</div>