@import '../../styles/variables.scss';

.container{
    flex-direction: column;
    background-image: url('../../assets/circles-light.png');
    
    .conversation > div{
        min-height: 70px;
        align-items: center;
        word-break: break-all;
    }

    .message-creation{
        box-sizing: border-box;

        .message-input{
            flex-grow: 1;
        }
    }

    .message-item{
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;
        
        .message-content{
            flex-direction: column;
            min-width: 150px;
            max-width: 60%;
            border-radius: 12px;
            background-color: gray;
            padding : 5px 10px;
            .timestamp{
                align-self: flex-end;
            }
        }

        .self-message{
            background-color: green;
        }
    }
}