@import '../../styles/variables.scss';

.container{
    flex-direction: column;
    background-image: url('../../assets/circles-light.png');
    
    .conversation > div{
        min-height: 70px;
        align-items: center;
        word-break: break-all;
    }

    .message-item{
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;

        .message-content{
            max-width: 60%;
        }
    }
}