<div class="flex container max">

  <!-- MESSAGE LIST -->
  <div #scrollMe class="conversation max pt--20 overflow--y">

    <!-- MESSAGE ITEM <REPEAT> -->

    <!-- BREAKS UI -->
    <!-- <div class="flex message-item" *ngFor="let message of messages" appCheckOrigin="message._id"> -->

    <!-- BREAKS TESTS -->
    <div class="flex message-item" *ngFor="let message of messages" appCheckOrigin [senderId]="message._id">

      <div class="flex" [ngStyle]="{'align-items' : 'center', 'flex-direction' : message.isSelfMessage ? '' : 'row-reverse'}">
        <!-- USER AVATAR -->
        <app-avatar [avatarUrl]="message.avatar" [ngClass]="message.isSelfMessage ? 'ml--10' : 'mr--10'"></app-avatar>
        <div>{{message.userName}}</div>
      </div>

      <!-- USER MESSAGE CONTENT -->

      <!-- BREAKS UI -->
      <!-- <div class="message-content" appSetStyling="message._id"> -->

      <!-- BREAKS TESTS -->
      <div class="message-content" appSetStyling [senderId]="message._id">
        {{message.text}}
      </div>
    </div>
  </div>






  <form class="flex message-creation max--width pa--5">
    <!-- <input [(ngModel)]="message" type="text" /> -->
    <mat-form-field class="message-input">
      <textarea [(ngModel)]="message" matInput placeholder="Say something" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>

    <button (click)="sendMessage()" mat-button>Send</button>
  </form>
</div>