.container{
    flex-direction: column;
    background-image: url('../../assets/circles-light.png');
    
    .conversation > div{
        min-height: 70px;
        align-items: center;
    }

    .message-item{
        padding-right: 50px;
        padding-left: 50px;
    }
}